@import url(https://fonts.googleapis.com/css?family=Cantarell);
table {
    table-layout: auto;
    border-collapse: collapse;
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border-spacing: 0;
}
td > div {
    float: right;
}

.leftShift {
    position: relative;
    font-weight: normal;
    font-size: 12px;
}

.leftShift > div {
    position: absolute;
    margin-left: calc(-50% - 8px);
    width: 100%;
}

td{
    width: 10px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    font-family: Cantarell, Arial, sans-serif;
}

th {
    width: 10px;
    height: 30px;
}

td.rightDashed {
    background-color: #e6e6e6;
    border-right: 1px dashed black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: top;
}

td.leftDashed {
    background-color: #e6e6e6;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: top;
}

td.allDashed {
    border-right: 1px dashed black;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    border-left: 1px dashed black;
    background-color: #e6e6e6;
}

td.rightLeftDashed {
    border-right: 1px dashed black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px dashed black;
    background-color: #e6e6e6;
}

td.allSolid {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #e6e6e6;
}

.days {
    border-right: 1px solid black;
    text-align: right;
    padding-right: 10px;
}


@media only screen and (max-width: 600px) {
    thead th:not(:first-child) {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
    }
    td:empty {
        display: none;
    }

    .leftShift {
        display: none;
    }

    td, th {
        width: 100%;
        height: 100%;
        text-align: center;
        border: 1px solid #000 !important;
    }

    .days {
        border: 1px solid #000 !important;
        text-align: center;
        padding-right: 1px;
        width: 100%;
        height: 100%;
    }
}