.topnav{
    overflow: hidden;
    background-image: linear-gradient(90deg, #00d4ff 0%, #090979 70%, blue 100%);
    color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.topnav a {
    float: left;
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: powderblue;;
    color: black;
}

.topnav a.active {
    background-color: #090979;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
