@import url(https://fonts.googleapis.com/css?family=Cantarell);

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #9dc2fa 0%, #cadffc 40%, #cfe2fc 100%) no-repeat center fixed;
    background-size: cover;
}
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glavni {
    display: flex;
    align-items: flex-end;
}

.glavni > div {
    /*box-sizing: border-box;*/
    background: rgba(0, 0, 0, 0);
    height: 35vh;
    width: 35vh;
    display: inline-block;
    margin: 3vh;
    min-width: 215px;
    min-height: 215px;
}

.glavni > div > fieldset {
    height: 100%;
    border-radius: 16%;
    color: #1e7b96;
    border: 3px solid #1e7b96;
}

.glavni > div > fieldset > * {
    text-align: center;
    font-family: Cantarell, serif;
}

.glavni > div:nth-of-type(2n) {
    height: 40vh;
    width: 40vh;
}

.glavni > div:nth-of-type(2n) > fieldset {
    border-radius: 8%;
}

@media only screen and (max-width: 600px) {
    .glavni {
        display: block;
    }
    .glavni > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .glavni > div:first-child {
        display: none;
    }
}